gunicorn==21.2.0
Flask==1.1.4
Werkzeug==1.0.1
Jinja2==2.11.3
MarkupSafe==1.1.1
itsdangerous==1.1.0
click==7.1.2
decorator==4.4.2
six==1.16.0
raven==6.10.0
blinker==1.4
flasgger==0.9.7.1
mistune==0.8.4
jsonschema==3.2.0
pyrsistent==0.18.1
attrs==21.4.0
PyYAML==6.0.1
brotli==1.2.0
